<div class="contact-container">
    <form id="searchContactForm" ng-submit="model.search(model.searchName);">
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Search Contact Name" ng-model="model.searchName" />
        </div>
        <input type="submit" class="btn btn-primary" value="Search" />

    </form>

    <div ng-repeat="item in  model.contacts track by $index" class="contact-list-container">
        <div class="single-contact">
            <span class="contact-name">{{item.name}}</span>
            <span>{{item.mobileNumber}}</span>
            <span>{{item.relationship}}</span>
        </div>
    </div>
</div>
