<div class="contact-container">
    <form id="searchContactForm" ng-submit="model.search();">
        <input type="text" placeholder="Search Contact Name" ng-model="model.searchName"/>
        <input type="submit" value="Search" />
    </form>

    <div ng-repeat="item in  model.contacts track by $index" class="contact-list-container">
        <div class="single-contact">
            <span class="contact-name">{{item.name}}</span>
            <span>{{item.mobileNumber}}</span>
            <span>{{item.relationship}}</span>
        </div>
    </div>
</div>
