body {
    padding: 70px;
    font-family: 'Ubuntu Mono', sans-serif;
}

.app-footer {
    bottom: 0;
    position: fixed;
}

/*Hides the input spinner icons on Number field*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#newContact-section {
    padding-top: 5%;
}